$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-grey-dark: #333;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizental: 2rem;

$u-margin-btm-small: 2rem;
$u-margin-btm-medium: 4rem;
$u-margin-btm-big: 2rem;
